<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add new Performer to Song</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Select the Artist to add to the List of Performers</h1>
</header>
<section>
    <h2>Select artist:</h2>
    <form th:action="@{/artist}" method="post">
        <div th:each="artist : ${artists}">
            <input type="radio" name="artistId" th:value="${artist.id}" required>
            <span th:text="${artist.firstName + ' ' + artist.lastName}"></span>
            <br/>
        </div>
        <input type="hidden" name="trackId" th:value="${selectedTrackId}">
        <br/>
        <input type="submit" value="Add artist">
    </form>
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
</section>
<aside>
    <table>
        <tr>
            <td><b>Track Id</b></td>
            <td th:text="${selectedTrackId}"></td>
        </tr>
    </table>
</aside>
</body>
</html>
